IndentWidth: 2
AccessModifierOffset: -2
ColumnLimit: 160
BreakBeforeBraces: Attach
PointerAlignment: Left
AllowShortLambdasOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: None
